#!/usr/bin/make -f
# export DH_VERBOSE = 1


# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

override_dh_auto_build:

override_dh_auto_install:
	echo "override_dh_auto_install"
	dh_auto_install --destdir=debian/tmp -- prefix=/usr

%:
	dh $@
